@media (max-width: 1200px) {
  .container-menu {
    max-width: 900px;
  }

  ul.list {
    gap: 2rem;
  }

  img.avatar-image {
    height: 300px;
    width: 300px;
    /* border: 6px solid var(--red); */
  }

  .container {
    max-width: 900px;
  }

  h1.item_1 {
    font-size: 4rem;
  }

  h1.item_2 {
    font-size: 1.5rem;
  }

  h1.name_item {
    font-size: 2.5rem;
  }

  li {
    font-size: 1.2rem;
  }

  .about__header {
    font-size: 80px;
  }
  
  .who__am__i {
    font-size: 22px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .about__text {
    font-size: 16px;
    padding-top: 10px;
    color:rgb(85, 85, 85)
  }

  .image-container {
    padding-top: 40px;
    max-width: 900px;
  }

  .image__flex {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 4rem;
  }

  .about__image {
    width: 100px;
    height: 100px;
  }
  
  .openedBook__image {
    width: 120px;
    height: 100px;
  }
  
  .languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }
  
  .block {
    display: flex;
    padding-top: 10px;
    height: 300px;
  
  }
  
  p.skills__paragraph {
    font-size: 35px;
  }
  
  .skills-list {
    padding-left: 35px;
  }
  
  .skills__ul {
    padding-left: 30px; 
    font-size: 17px;
  }
  
  ul li.skill {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .logo {
    width: 200px;
    height: 200px;
  }
}


@media (max-width: 992px) {
  .container-menu {
    max-width: 650px;
  }

  ul.list {
    gap: 1rem;
  }

  img.avatar-image {
    height: 250px;
    width: 250px;
    /* border: 6px solid var(--red); */
  }

  .item_avatar {
    padding-right: 0px;
 }

 .item_greetings {
  padding-left: 0px;
}

  .container {
    max-width: 650px;
  }

  h1.item_1 {
    font-size: 3.5rem;
  }

  h1.item_2 {
    font-size: 1.5rem;
  }

  h1.name_item {
    font-size: 2rem;
  }

  li {
    font-size: 1rem;
  }

  .about__header {
    font-size: 70px;
  }

  .who__am__i {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about__text {
    font-size: 16px;
    padding-top: 10px;
    color:rgb(85, 85, 85)
  }

  .image-container {
    padding-top: 30px;
    max-width: 650px;
  }

  .image__flex {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 3rem;
  }

  .about__image {
    width: 80px;
    height: 80px;
  }
  
  .openedBook__image {
    width: 110px;
    height: 80px;
  }

  h1.myskills {
    font-size: 65px;
    padding-bottom: 30px;
  }
  
  .languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
  
  .block {
    display: flex;
    padding-top: 10px;
    height: 250px;
  
  }
  
  p.skills__paragraph {
    font-size: 25px;
  }
  
  .skills-list {
    padding-left: 35px;
  }
  
  .skills__ul {
    padding-left: 30px; 
    font-size: 14px;
  }
  
  ul li.skill {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .logo {
    width: 150px;
    height: 150px;
  }
}


@media (max-width: 767px) {
  .container-menu {
    max-width: 320px;
  }

  ul.list {
    gap: 1rem;
  }

  .elements {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  img.avatar-image {
    height: 250px;
    width: 250px;
    /* border: 6px solid var(--red); */
  }

  .item_avatar {
    padding-right: 0px;
  }

  .item_greetings {
    padding-left: 0px;
  }

  .container {
    max-width: 400px;
    height: 70%;
  }

  h1.item_1 {
    font-size: 3rem;
  }

  h1.item_2 {
    font-size: 1rem;
  }

  .about__header {
    font-size: 60px;
  }

  .who__am__i {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about__text {
    font-size: 16px;
    padding-top: 10px;
    color:rgb(85, 85, 85)
  }

  .image-container {
    padding-top: 50px;
    max-width: 1200px;
  }

  .image__flex {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .about__image {
    width: 100px;
    height: 100px;
  }
  
  .openedBook__image {
    width: 120px;
    height: 100px;
  }

  h1.myskills {
    margin: 0 auto;
    max-width: 260px;
    font-size: 65px;
    padding-bottom: 40px;
  }
  
  .languages {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .block {
    display: flex;
    padding-top: 10px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  
  p.skills__paragraph {
    font-size: 35px;
  }
  
  .skills-list {
    display: inherit;
    align-items: center;
    padding-left: 0px;
  }
  
  .skills__ul {
    padding-left: 30px; 
    font-size: 17px;
  }
  
  ul li.skill {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .logo {
    width: 200px;
    height: 200px;
  }

  .input-area {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    margin-top: 50px;
  }

  textarea.message {
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
    padding: 10px 0 0 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 3/5;
  }
}